{% extends "KabasisWebApp/base.html"%}

{% load static %}
   
{% block content%}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'KabasisWebApp/img/cibercandado.png' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">¿Qué es KABASIS?</span>
          </h2>
          <p class="mb-3">KABASIS es una herramienta diseñada para mejorar la ciberseguridad en las organizaciones, relativo a las vulnerabilidades a las que están expuestos sus colaboradores. Se basa en el enfoque KAB (Conocimiento, Actitudes y Comportamiento) en concordancia y correspondencia a las buenas prácticas de seguridad de la información. Utiliza una evaluación en línea y reporte gerencial que permite la temprana y oportuna toma de decisiones que permiten enfrentar las vulnerabilidades a las que están expuestos sus colaboradores y construir el «Human Firewall» de la organización.
          </p>
         
        </div>
      </div>
    </div>
  </section>
  

    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="text-center rounded" style="border: 4px solid white; padding: 80px; color: white;"">
              <h2 class="section-heading mb-4">
                <span class="section-heading-lower">¿QUÉ MIDE KABASIS?</span>
              </h2>
              <p class="mb-0">Mide el nivel de riesgo de sus colaboradores de ser víctimas de ciberataques que afecten a su organización.</p>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/bOXQGr6WLUw" frameborder="0" allowfullscreen></iframe>

            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}